body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body > header {
  text-align: center;
  background: darkred;
  padding-bottom: 1em;
  color: white;
}

body > header h1 {
  margin: 0;
}

.central {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.map {
  height: 30rem;
  width: 100%
}